import { ConnectionOptions } from "typeorm";
import { config } from "dotenv";
config();

const connectionConfig: ConnectionOptions = {
    type: "mysql",
    host: "Hostname",
    port: process.env.DB_PORT ? parseInt(process.env.DB_PORT) : 3306,
    username: "Username",
    password: "Password",
    database: "Database",
    synchronize: true,
    logging: false,
    entities:
        process.env.SCRIPT_FILES == "js"
            ? ["dist/entities/*.js"]
            : ["src/entities/**/*.ts"],
};

export default connectionConfig;
